<div class="wrap">

  <!-- MASTHEAD -->
  <div class="masthead">
    <div class="left">
      <span><a href="../Socratech.html"><b>SOCRATECH</b></a> &middot; <span>Vol. III</span></span>
    </div>
    <div class="center">a notebook of machines &amp; minds</div>
    <div class="right">
      <a href="../Socratech.html">Home</a>
      <a href="../Socratech-blog.html">The Ledger</a>
      <a href="../Socratech-timeline.html">Timeline</a>
    </div>
  </div>

  <!-- FOLIO RAIL -->
  <div class="rail">
    <a href="../Socratech-blog.html" class="back">Back to the Ledger</a>
    <span>FOL. <span class="folio">{{FOLIO}}</span></span>
  </div>
